* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #010613;
    color: white;
    margin: 0;
}

.header-left .logo {
    max-width: 150px;
    height: auto;
}

.header-center {
    flex-grow: 1;
    text-align: center;
}

.header-center h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.card {
    width: 100%;
    max-width: 300px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: hsl(0, 0%, 100%);
}

.card-image {
    width: 100%;
    display: block;
    border-radius: 7px;
}

.card-content {
    padding: 20px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.card-content h2 {
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 8px;
}

.card-content p {
    font-size: 1rem;
    color: hsl(215, 51%, 70%);
}

.card-footer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-footer span {
    font-size: 1rem;
    color: hsl(215, 51%, 70%);
}

.card-footer strong {
    color: hsl(178, 100%, 50%);
}

.card:hover {
    animation: pulse 1s ease-in-out;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header-center h1 {
        font-size: 20px;
    }

    .card-list {
        justify-content: center;
    }

    .card {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-left,
    .header-center {
        width: 100%;
        text-align: center;
    }

    .header-left .logo {
        max-width: 100px;
    }

    .header-center h1 {
        font-size: 18px;
    }

    .card-content h2 {
        font-size: 1.2rem;
    }

    .card-content p {
        font-size: 0.9rem;
    }
}
