@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: hsl(0, 0%, 100%);
}

.card-image {
    width: 100%;
    display: block;
}

.card-footer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.card:hover{
    cursor: pointer;
}

.card-content {
    padding: 20px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.card-content h2 {
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 8px;
}

.card-content p {
    font-size: 1rem;
    color: hsl(215, 51%, 70%);
}

.card-footer {
    display: flex;
    align-items: center;
    padding: 20px;
}


.card-footer span {
    font-size: 1rem;
    color: hsl(215, 51%, 70%);
}

.card-footer strong {
    color: hsl(178, 100%, 50%);
}